<?xml version="1.0"?>
<config>
    <modules>
        <Maxxsol_StoryPlugin>
            <version>0.1.0</version>
        </Maxxsol_StoryPlugin>
    </modules>
    <default>
        <general>
            <story_client>
                <client_baseurl>/Story/app/</client_baseurl>
                <grunt_script_new_product>new-product.sh</grunt_script_new_product>
            </story_client>
        </general>
    </default>
    <global>
        <models>
            <maxxsol_storyplugin_models>
                <class>Maxxsol_StoryPlugin_Model</class>
            </maxxsol_storyplugin_models>
        </models>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <story_new_prod_grunt>
                        <type>singleton</type>
                        <class>maxxsol_storyplugin_models/catalog_product_observer</class>
                        <method>runGruntForNewProduct</method>
                    </story_new_prod_grunt>
                </observers>
            </catalog_product_prepare_save>
            <catalog_controller_product_view>
                <observers>
                    <story_product_redirect>
                        <class>maxxsol_storyplugin_models/catalog_product_observer</class>
                        <method>redirectToClient</method>
                    </story_product_redirect>
                </observers>
            </catalog_controller_product_view>
        </events>
    </global>
</config>