<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <general>
            <groups>
                <story_client translate="label">
                    <label>Story Client</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <client_baseurl translate="label">
                            <label>Base URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </client_baseurl>
                        <grunt_script_new_product translate="label">
                            <label>New Product Grunt Script</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>51</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </grunt_script_new_product>
                    </fields>
                </story_client>
            </groups>
        </general>
    </sections>
</config>