<category-thumb-list cat-id="currentCategory.id" 
                     active-prod-id="currentProdId" 
                     selected-category="currentCategory" 
                     bottom-offset="10%" 
                     thumb-state="$parent.state" 
                     offset="$parent.offset">
</category-thumb-list>

<!-- Instagram icon -->
<a id="st-instagram-icon" 
   title="Instagram" 
   target="_blank" 
   href="http://instagram.com/mayameirav">

    <img alt="Instagram" src="img/icon-instagram.png" />
</a>