/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 18, 2013, 5:34:35 PM
    Author     : zahid
*/

.anim-thumb.ng-hide-add, .anim-thumb.ng-hide-remove {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.7s;
    display: block !important;
}

.anim-thumb.ng-hide { height: 0; line-height: 0; opacity: 0; }
.anim-thumb.ng-hide-add { height: 0; line-height: 0; }
.anim-thumb.ng-hide-add.ng-hide-add-active { height: 0; line-height: 0; opacity: 0;}

.anim-thumb.ng-hide-remove { height: 0; line-height: 0; }
.anim-thumb.ng-hide-remove.ng-hide-remove-active { height: 100%; line-height: 1.5;}

.st_category_thumb{
    
}

.st_category_thumb .st_wrapper{
    /*    display:none;*/
    /*position: absolute;*/
    width:100%;
    overflow: hidden;
    top:50px;
    left:0px;
    height: 60px;
    max-height: 60px;
}

.st_category_thumb .st_thumbs_title {
    background-color: black;
    opacity: 1.0;
    width: 100%;
}

.st_category_thumb .st_thumbs_title span{
    margin-left: 15px;
    background: #000;
    color: #BAB7B0;
    text-transform: uppercase;
    text-align: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.st_category_thumb .st_thumbs{
    margin: 0;
    float: left;
}

.st_category_thumb .st_thumbs a {
    float: left; 
    margin:3px;  
}

.st_category_thumb .st_thumbs img{
    border:none;
    opacity:0.5;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    min-width: 200px;
}

.st_category_thumb .st_thumbs img:hover{
    border:none;
    opacity:1;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}

.st_category_thumb .st_thumbs_active{

    margin: 0;
    float: left;
}

.st_category_thumb .st_thumbs_active img{
    border:none;
    opacity:1;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}

.st_category_thumb .album {
    opacity: 0.7;
    position: relative;
    background-color: lightgrey;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}

.st_category_thumb .nav_left,.st_category_thumb .nav_right {
    position: absolute;
    top: 0;
    height: 100%;
    text-decoration: none;
    color: #fff;
    line-height: 100%;
    z-index: 110;
}

.st_category_thumb .nav_left {
    background: url('../img/thumb-back.png') no-repeat center;
    left:0;
}

.st_category_thumb .nav_left .st-thumb-nav-bg,.st_category_thumb .nav_right .st-thumb-nav-bg{
    background: #000;
    width: 30px;
    height: 100%;
    opacity: 0.5;
    display: block;
}

.st_category_thumb .nav_right {
    background: url('../img/thumb-forward.png') no-repeat center;
    right: 0;
}