<div ng-class="overClass" ng-mouseenter="overClass = 'product-thumbnail-item-img-active'" ng-mouseleave="onMouseLeave();" class="product-thumbnail-item-img-inactive" style="background: url('{{thumbnailItem.thumb_url}}') no-repeat center center #fff" ng-click="thumbnailItemClicked()"></div>



<!-- <div role="complementary" ng-show="showCtrls" ng-mouseenter="onMouseEnter($event)" ng-mouseleave="onMouseLeft($event)">
    <div class="thumbnails-container-title-backgroud"><span > ALTLMEN WINTER 2013 </span></div>
    <div role="complementary" ng-style="{left: thumbnailContainerLeftPos}" ng-show="showProductThumbnails" class="product-thumbnails-container" ng-animate="{show:'thumbnail-show'}" ng-mousemove="onMosueMove($event)">
        <thumbnail-item thumbnail-item-id="thumbnailItem.entity_id" ng-repeat="thumbnailItem in thumbnails"></thumbnail-item>
    </div>   
</div>

-->